:root { /* Couleurs de base */
    --primary: #2563eb;
    --secondary: #A2E3A2;
    --dark: #1F2937;
    --light: #F3F4F6;
    
}
* { /* Marges du doc standard adaptées */
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
/* Marges du doc standard adaptées*/
body {
    background-color: var(--light);
    color: var(--dark);
    font-size: Quicksand, sans-serif;
    line-height: 1.6;
}

.container { /* Marges du doc standard adapt*/
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

h1 {
    color: var(--primary);
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

h2 {
    color: var(--dark);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.1rem;
    color: var(--dark);
    margin-bottom: 1.5rem;
}

.btn {
    display: inline-block;
    background-color: var(--primary);
    color: white;
    padding: 0.8rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease
}
.btn:hover {
    background-color: var(--secondary);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
